# --- Project Specifics ---
pickleable
pre-commit
pyshortcuts
python-box
pywin32
pyyaml
winotify

# --- The "Big 5" (Triggering Nuitka's Global Brain) ---
numpy
pandas
scipy
matplotlib
torch
torchvision
PyQt6
CustomTkinter
Pillow
requests
urllib3
playwright
opencv-python
