# --- Project Specifics ---
msvc-runtime
pre-commit
pyshortcuts
python-box
pywin32
pyyaml
winotify

# --- The "Big 5" (Triggering Nuitka's Global Brain) ---
numpy
pandas
scipy
matplotlib
torch --index-url https://download.pytorch.org
torchvision --index-url https://download.pytorch.org
PyQt6
CustomTkinter
opencv-python-headless
Pillow
requests
urllib3
playwright
